{# empty Twig template #}

<html>
    <head>
        <title>{{ post.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/css/fontawesome-all.css" type="text/css">
        <link rel="stylesheet" href="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/css/jqueryui.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight" rel="stylesheet">
       
        <script type="text/javascript" src="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/js/jquery.js"></script>
    </head>
    <body>    

        {% if html != ''%}
            {{ html }}
        {% else %}
            <div style="border:2px solid #red; padding:30px 0;">
                <h1 class="text-center">No Data Available. </h1>
            </div>
        {% endif %}

{{ include('css-style-generator.twig') }}
        {{ include('css-javascript-generator.twig') }}

        {% for framework in frameworks %}
            {% for file in framework.files %}

                {% set type_is = 'js' %}
                {% set asset_file = site.site_url ~ '/wp-content/plugins/cunifymax/assets/frameworks/' ~ framework.name ~ '/' ~ file %}

                {% if '.js' in file %}
                    <script type="text/javascript" src="{{ asset_file }}"></script>
                {% else %}
                    <link rel="stylesheet" href="{{ asset_file }}" type="text/css">
                {% endif %}
            {% endfor %}
        {% endfor %}

        <script type="text/javascript" src="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/js/spectrum.js"></script>
        <script type="text/javascript" src="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="{{ site.site_url }}/wp-content/plugins/cunifymax/assets/js/jqueryui.js"></script>

    </body>
</html>